h1 {
  text-align: center;
}

.reserva-section {
  padding: 60px;
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  align-items: flex-start;
}

.miniaturas {
  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
  }
}

.imagen-principal img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.formulario {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 50px;
  border-radius: 12px;
  width: 300px;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input,
  select {
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;

    strong {
      font-size: 18px;
      font-weight: 600;
    }
  }

  button {
    margin-top: 10px;
    background-color: #8e8282;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #756e6e;
    }
  }
}

.menu-section {
  margin: 100px;

  h2 {
    font-size: 26px;
    margin-bottom: 50px;
    text-align: center;
  }

  .menu-columns {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

    div {
      flex: 1;
      min-width: 200px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul {
      list-style: disc;
      padding-left: 20px;
      font-size: 14px;
    }
  }
}